body {
  background: #f5f5f5;
  font-size: 16px;
}

h1,
h2 {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

h2 {
  font-size: 16px;
  padding-bottom: 23px;
}

.input {
  position: relative;
  top: 10px;
}

#container {
  width: 840px;
  padding: 30px;
  box-sizing: border-box;
  margin: 0 auto;
}

#wrapper {
  display: block;

  .host {
    width: 100%;
  }
}

#wrapper.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  .host {
    width: 375px;
  }
}

.host {
  background: white;
  padding: 30px;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.app {
  width: 100%;
  color: #4a4a4a;
  line-height: 1.2em;
  padding-bottom: 15px;
  display: flex;
  background: none;
  border: none;
  cursor: pointer;
  text-align: left;

  span {
    display: block;
  }

  &:hover {
    background: rgba(0, 0, 0, 0.05);
  }
}

.apdex {
  font-size: 13px;
  font-weight: bold;
  margin-right: 15px;
  opacity: 0.62;
}
